{% extends 'base.html' %}

{% block head %}
<title>Погашения</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2><b>Погашения</b></h2>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Ф.И.О.</th>
                        <th>Сумма погашения</th>
                        <th>Оставшаяся сумма</th>
                        <th>Дата</th>
                        <th>Исполнитель</th>
                    </tr>
                </thead>
                {% for graphic in graphics %}
                <tbody>
                    <tr>
                        <td>{{ graphic.credit.customer }}</td>
                        <td>{{ graphic.summ_cut }} сом</td>
                        <td>{{ graphic.summ_after_cut }}</td>
						<td>{{ graphic.date }}</td>
                        <td>{{ graphic.user.username }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}